:root {
  --primary-color: #0081fa;
  --secondary-color: #a3f8cf;
  --highlight-color: #fe6f9b;
  --primary-text-color: #666;
  --secondary-text-color: #aaa;
  --background-color: #fafafa;
  --secondary-background-color: #E8EEEE;
}

body {
  font-size: 20px;
  font-family: 'PT Serif', serif;
}

footer {
  color: var(--secondary-text-color);
  text-align: center;
  background-color: var(--secondary-background-color);
  padding: 2em;
}

@media (min-width: 820px) {
  body {
    font-size: 24px;
  }
}

nav ul {
  list-style: none;
}

a {
  color: black;
  background-image: linear-gradient(45deg,var(--secondary-color),var(--secondary-color));
  background-repeat: no-repeat;
  background-position: left 5px bottom -20px;
  text-decoration: none;
}

a:hover {
  background-position: left 5px bottom -10px;
}

h1 {
  font-size: 150%;
}

#site-header {
  margin-bottom: 2em;
}

@media (min-width: 820px) {
  #site-header {
    margin-bottom: 5em;
  }
}

#main-content {
  margin: 1em;
}

.site-title {
  display: grid;
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2em;
  padding-right: 2em;
}

.site-title h1 {
  display: block;
  text-align: center;
  font-size: 400%;
  text-transform: uppercase;
  grid-column: 1/1;
}

.site-title__description {
  margin-top: 0.5em;
  margin-left: 1em;
  font-size: 100%;
  font-style: italic;
  grid-column: 2/2;
}

.main-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;

  flex-wrap: nowrap;
  padding: 0.5em;
  margin-bottom: 1em;
}

@media (min-width: 820px) {
  .main-navigation {
    padding: 1em;
  }
}

.main-navigation__icon {
  background-image: none;
}

main-navigation__home {
  text-decoration: none;
}

@media (min-width: 820px) {
  .main-navigation__icon {
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 40px;
  }
}

.main-navigation__group {
  display: flex;
  align-items: center;
}

.main-navigation__list {
  display: flex;
}

.main-navigation__list .menu-item {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-family: 'Montserrat script=all rev=1', sans-serif;
  font-weight: 900;
}

.main-navigation__list .menu-item:after {
  content: '|';
  display: inline-block;
  padding: 0 .5em;
}

.main-navigation__list .menu-item:last-child:after {
  content: '';
  padding: 0;
}

#post-list li {
	list-style: none;
}


.post {
  margin-top: 3em;
  margin-left: auto;
  margin-right: auto;
  max-width: 50rem;
}

.post-header {
  margin-bottom: 2em;
  text-align: center;
}

.post-header .post-date {
  color: var(--secondary-text-color);
}

.post-header a {
  text-decoration: none;
  color: black;
}

.post-date {
  font-size: 80%;
  font-family: 'Montserrat script=all rev=1', sans-serif;
  font-weight: 100;
}

@media (min-width: 820px) {
  .post-date {
    font-size: 100%;
  }
}

.post-title {
  font-size: 150%;
}

@media (min-width: 820px) {
  .post-title {
    font-size: 250%;
  }
}

.post-title a {
  text-decoration: none;
  font-weight: bolder;
}

.post-body p {
  margin-bottom: 1em;
  font-weight: lighter;
}

.post-body h2,h3 {
  margin-top: 2em;
  margin-bottom: 1em;
}

.post-body h2 {
  font-size: 120%;
  text-transform: uppercase;
}

.post-body h3 {
  font-weight: bold;
}

.post img {
  display: block;
  width: 95%;
  margin: 1em;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 820px) {
  .post img {
    width: 80%;
    margin: 2em;
  }
}

.tags li {
	clear: both;
	text-align: right;
	display: inline-block;
  color: var(--primary-color);
	background-color: var(--secondary-color);
	list-style: none;
	padding: 0.4em;
	padding-left: 0.5em;
	padding-right: 0.5em;
  margin: 0.15em;
}
