<nav class="main-navigation">
    <div class="main-navigation__group">
        <a href="/" class="main-navigation__home">
            <img class="main-navigation__icon" src="https://www.gravatar.com/avatar/{{ .Site.Params.gravatar }}?s=100&d=identicon"/>
            <span class="main-navigation__arrow">&larr;</span>
        </a>
    </div>
    <div class="main-navigation__group">
        <ul class="main-navigation__list">
            {{ range .Site.Menus.main }}
	        <li class="menu-item"><a href="{{ .URL | relLangURL | safeURL }}">{{ .Name }}</a></li>
            {{ end }}
        </ul>
    </div>
</nav>
